body{background-color: #fff;
    display: flex;
    height: 100vh;
    flex-direction: row;
position: relative;
 align-items: flex-start; 
justify-content: center; 
box-sizing: border-box; 
text-align: center;

}
.container{
    display: flex;  
    flex: 1;
   justify-content: space-around;
  position: absolute;
  margin-top: 300px;
  font-size: 1.5rem;
}
 .container1{
    display: flex;  
    flex: 1;
   justify-content: space-around;
  position: absolute;
  margin-top: 500px;
  font-size: 1.5rem;
}
 .box{background-color: #fff;
    border: 2px black solid;
width: 20vw;
padding: 50px;
margin: 50px;
position: relative;
overflow: hidden;
}
.box1::after{
    content: '';
    position: absolute;
    background-color:red;
    border: 2px red solid;
    height: 13.5vh;
     width: 25.3vw;
     bottom: 13.5vh;
    left: 0vw;
     transition: all 1.5s ease-in-out;
    }
    .box1:hover::after{
        transform: translatey(13.5vh);
    }

.box2::after{
content: '';
position: absolute;
background-color: blue;
border: 2px blue solid;
height: 13.5vh;
 width: 25.3vw;
 top: 0px;
left: 25.3vw;
 transition: all 1.5s ease-in-out;
}
.box2:hover::after{
    transform: translatex(-25.3vw);
}

.box3::after{
    content: '';
    position: absolute;
    background-color: yellow;
    border: 2px yellow solid;
    width:  13.5vh;
     height: 25.3vw;
   left: 19vh;
    top: -9.5vw;
    z-index: -1;
     transition: all 1.5s ease-in-out;
    }
    .box3:hover::after{
        z-index: 2;
        transform: rotate(90deg);
    }
    .box4::after{
        content: '';
        position: absolute;
        background-color: rgb(0, 0, 0);
        border: 2px rgb(0, 0, 0) solid;
        width: 25vw;
       height: 13vh;
  top: 0%;
        left: 0%;
        z-index: -2;
         transition: all 1.5s ease-in-out;
        }
        .box4:hover::after{
            z-index: 2;
            transform: scale(-0.1,-0.1);
        }
        .box5::after{
            content: '';
            position: absolute;
            background-color: rgba(87, 10, 54);
            border: 2px rgb(87, 10, 54) solid;
            width: 25vw;
           height: 13vh;
      top: 0%;
            left: 0%;
            z-index: -2;
             transition: all 1.5s ease-in-out;
            }
            .box5:hover::after{
                z-index: 2;
                transform: skewx(30deg);
            }
    